body {
  background: linear-gradient(#e66465, #9198e5);
  display: flex;
  font-family: 'Roboto', sans-serif;
  justify-content: center;
  padding: 20px;
}

.container {
  background-color: #ffffff66;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  width: 50%;
}
